<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <!-- TODO: Temporary form, add a CSS to align the form better -->
    <h2>{{title}}</h2>
    <div>
        <form action="/reg/api" method="post">
            <div>
                <p><label>Identifier: </label><input type="text" name="identifier"></input></p>
                <p><label>Department: </label><input type="text" name="department"></input></p>
                <p><label>Scope: </label><input type="text" name="scope"></input></p>
                <p><label>SME: </label><input type="text" name="sme"></input></p>
            </div>
            <div>
                <label>Payload Encryption: </label>
                <input type="radio" name="payload_encrypt" value="true">Yes</input>
                <input type="radio" name="payload_encrypt" value="false">No</input>
            </div>
            <div><p><input type="submit" value="Register"></input></p></div>
        </form>
    </div>
</body>
</html>